@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
:root {
    /*palette*/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);  
    --secondary-300: rgba(29, 132, 181, 0.3);  

    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31,0.9);
    --dark-500: rgba(31, 31, 31,0.5);
    --dark-300: rgba(31, 31, 31,0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFA;
    --light-font-solid: #FFFFFF;
    --light-bg-container:#FAFAFF;

    /*Typography*/
    --base-font: 'Inter', sans-serif;
    --alternative-font:'Raleway', sans-serif;

    /*Font sizes*/
    --font-display: 4.6rem;
    --font-jumbo: 3.8rem;
    --font-xlarge: 3rem;
    --font-medium: 1.8rem;
    --font-small: 1.6rem;
    --font-xsmall: 1.2rem;

    /*Spacing*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}


*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color:var(--dark-solid);
}
a {
    font-family: inherit;
    text-decoration: none;
    /*font-size: 2em;*/
    color: inherit;
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    
}

ul, ol {
    list-style-type: none;

}

p {
    font-size: 1.8rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}